@font-face {
  font-family: "Blessed Day";
  /* Имя шрифта */
  src: url("../font/BlessedDay.otf");
  /* Путь к файлу со шрифтом */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  width: 1500px;
  margin: 0 auto;
  background: #2C3E50;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.home__header {
  background: #575E64 url("../img/index__header--bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*  временно*/
  min-height: 880px;
}

.header__logo {
  display: inline-block;
  font-family: "Blessed Day", sans-serif;
  font-size: 72px;
  font-weight: 400;
  color: white;
  padding-right: 135px;
}

.header__nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 85px;
  margin-left: 50px;
}

.header__nav li {
  display: inline;
  padding-left: 20px;
}

.nav__item {
  text-decoration: none;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}

.nav__item--active {
  border-bottom: 3px solid #1ABC9C;
}

.header__login {
  display: inline-block;
  vertical-align: top;
  margin-top: 85px;
  padding-left: 20px;
}

.header__login a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.header__title {
  display: block;
  width: 490px;
  padding-top: 160px;
  padding-left: 460px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.header__title--caption {
  font-size: 30px;
  font-weight: 400;
}

.header_title--text {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 100;
}

.btn {
  display: block;
  width: 170px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 60px;
  font-weight: 400;
  color: white;
  background: #1ABC9C;
}

.btn__purchasenow {
  background: #1ABC9C;
  float: left;
}

.btn__purchasenow::after {
  content: "or";
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 30px;
  position: relative;
  top: -75%;
  right: -95.5%;
  pointer-events: none;
  font-size: 15px;
  line-height: 1.8;
  color: black;
}

.btn__leadermore {
  background: #3498DB;
  float: right;
}

.container--2btn {
  display: block;
  width: 354px;
  padding-top: 60px;
}

.clearfix {
  clear: both;
}

.home__main {
  background: white;
}

.main__aboutus {
  padding-top: 100px;
  padding-bottom: 130px;
  color: #34495E;
  background-image: url(../img/aboutus-statistics.png);
  background-repeat: no-repeat;
  background-position: 700px 90px;
}

.aboutus__title {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 25px;
}

.aboutus__text {
  display: block;
  width: 610px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.main__services {
  background: #F6F6F6;
  color: #2C3E50;
}

.main__services--item {
  display: inline-block;
  width: 300px;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 10px;
}

.service__image {
  display: block;
  margin: 0 auto;
}

.servise__title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.service__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.slider {
  min-height: 580px;
  background: white url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.slider__title {
  font-size: 32px;
  font-weight: 400;
  padding-top: 60px;
}

.slider__text {
  font-size: 22px;
  font-weight: 200;
}

.slider__arrow {
  padding-top: 90px;
}

.slider__arrow.left {
  float: left;
}

.slider__arrow.right {
  float: right;
  transform: rotate(180deg);
  padding-bottom: 90px;
  padding-top: 0;
}

.slider__image {
  padding-top: 70px;
}

.testimonials {
  color: #2C3E50;
  padding-bottom: 130px;
}

.testimonials .container {
  padding-left: 40px;
}

.testimonials__title {
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: 60px;
}

.testimonials__item {
  display: inline-block;
  width: 467px;
  padding-top: 30px;
  background-image: url(../img/testimonials-item-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.testimonials__item--title,
.testimonials__item--text {
  width: 270px;
}

.testimonials__item--title {
  font-size: 20px;
  font-weight: 400;
  padding-top: 42px;
  float: right;
}

.testimonials__item--text {
  font-size: 12px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 42px;
  float: right;
}

.footer__contact {
  background: #34495E;
  padding-top: 60px;
  padding-bottom: 120px;
  color: white;
}

.contact--left {
  display: inline-block;

}

.contact--right {
  display: inline-block;
  float: right;
  padding-top: 40px;
}

.contact__title {
  font-size: 24px;
  font-weight: 400;
  padding-top: 42px;
}

.contact__text {
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 42px;
}

.contact__title,
.contact__text {
  display: block;
  width: 450px;
}

.contact__location,
.contact__phone,
.contact__email {
  display: block;
  width: 450px;
  font-size: 14px;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 30px;
}

.contact__location {
  background: url(../img/location.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contact__phone {
  background: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contact__email {
  background: url(../img/email.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contact__form {
  display: block;
  width: 460px;
  float: right;
}

.contact__form input {
  color: white;
  border: 0;
  border-radius: 3px;
  height: 40px;
  
  font-size: 14px;
  font-weight: 200;
}

.contact__form--name,
.contact__form--email {
  width: 205px;
  background: #5D6D7E;
  padding-left: 15px;
}
.contact__form--email{
  float: right;
}

.contact__form--message {
  background: #5D6D7E;
  width: 445px;
  min-height: 150px;
  overflow: auto;
  margin-top: 15px;
  padding-left: 15px;
}
.contact__form--subject{
  width: 460px;
  margin-top: 15px;
  background: #5D6D7E;
  color: #A1AAB4;
  border: 0;
  border-radius: 3px;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 200;
}

.contact__form--reset, 
.contact__form--submit{
  display: block;
  width: 170px;
  height: 55px;
  margin-left: 20px;
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.contact__form--reset{
  background: #1ABC9C;
}
.contact__form--submit{
  background: #3498DB;

}


.footer__copyrights{
  background: #2C3E50;
}
.footer__copyrights::before{
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #2C3E50;
  
  position: relative;
  top: -43px;
  left: 47%;
}
.copyright__text{
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: #CACFD3;
  
  font-size: 14px;
  font-weight: 400;
}